<!doctype html>
<html class="fixed has-top-menu dark">
<head>

    <!-- Basic -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- /\/\/\/ Head Details /\/\/\/ -->
    <meta charset="UTF-8">
    <title><%= title %> - Nate's App</title>
    <meta name="keywords" content="Nate's App"/>
    <meta name="description" content="Nate's Test">
    <meta name="author" content="Nate">
    <link rel="shortcut icon" type=”image/x-icon” href="/static/img/!happy-face.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans: 300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/vendor/animate/animate.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css"/>
    <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css"/>
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/select2/css/select2.css"/>
    <link rel="stylesheet" href="/static/vendor/select2-bootstrap-theme/select2-bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/vendor/datatables/media/css/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" href="/static/vendor/jstree/themes/default/style.css"/>
    <link rel="stylesheet" href="/static/vendor/morris/morris.css"/>
    <link rel="stylesheet" href="/static/vendor/pnotify/pnotify.custom.css"/>
    <link rel="stylesheet" href="/static/css/connectors.css"/>
    <link rel="stylesheet" href="/static/css/Treant.css">
    <link rel="stylesheet" href="/static/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendor/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="/static/vendor/jquery-ui/jquery-ui.theme.css"/>
    <link rel="stylesheet" href="/static/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css"/>
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/static/css/skins/default.css"/>
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Head Libs -->
    <script src="/static/vendor/modernizr/modernizr.js"></script>
    <!-- Video Stream -->
    <link src="https://cdn.bootcss.com/flv.js/1.3.3/flv.min.js">
    <script src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js"></script>
    <link src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@canary"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js">
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
    <!-- Gridstack -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css"/>
    <link rel="text/javascript" href='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'>
    <link rel="text/javascript" href='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'>
</head>