<% include head.ejs %>
<% include header.ejs %>
<body>
<section class="body">
    <div class="inner-wrapper">
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Home</h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                    </ol>

                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
                </div>
            </header>

            <!-- start: page -->
            <div class="row">
                <div class="col-md-6">
                    <section class="card">
                        <header class="card-header">
                            <h2 class="card-title">Classes</h2>
                        </header>
                        <div class="card-body">
                            <table class="table table-responsive-md mb-0">
                                <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Location</th>
                                    <th># of Unfinished Assignments</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td class="actions">
                                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                                        <a href="" class="delete-row"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td class="actions">
                                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                                        <a href="" class="delete-row"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td class="actions">
                                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                                        <a href="" class="delete-row"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <!-- end: page -->
        </section>
    </div>
</section>
</body>
<% include sidebar.ejs%>
<% include footer.ejs%>

